## This notebook for train with algorithm of classification

### Decesion tree

In [41]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import log

In [43]:
x, y = make_classification(n_samples=10,
                           n_features=4,
                           n_informative=3,
                           n_redundant=1,
                           random_state=17)
x = pd.DataFrame(x)
y = pd.DataFrame(y)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.3, random_state=17)

In [57]:
x.iloc[0:3]

          0         1         2         3
0  2.719649  0.098555 -2.438932 -2.594624
1  0.061377 -0.014801  0.010088 -0.178655
2 -0.647411 -1.704367 -0.216388 -3.295582

In [58]:
y.iloc[0:3]

   0
0  0
1  0
2  1

In [161]:
class DecisionTree:
    def __init__(self, max_depth=None):
        self.max_depth = max_depth
    
    def fit(self, x, y):
        
        def entropy(elements):
            N = len(elements)
            print(elements)
            return  
        
        def inforamtion_gain(N):
            return (1 / N)
        
        features = x.columns
        x_concat = np.concatenate((x, y.values.reshape(-1, 1)), axis=1)
        max_features = {'none': 1}
        
        for feature in features:
            right_elements = pd.DataFrame([])
            left_elements = pd.DataFrame([])
            predicat = x[feature].mean()
            
            for i in range(len(x)):
                node = {0:x.iloc[i, feature], 1:y.iloc[i, 0]}
                (right_elements.append(node, ignore_index=True)
                                       if x.iloc[i, feature] > predicat 
                                       else left_elements.append(node, ignore_index=True))
            N = len(right_elements) + len(left_elements)
            right_entropy = entropy(right_elements)
            left_entropy = entropy(left_elements)
            
            ig = inforamtion_gain(N)

In [162]:
%%time
tree = DecisionTree(max_depth=1).fit(x_train, y_train)

Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []

/tmp/ipykernel_41130/4173082794.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  else left_elements.append(node, ignore_index=True))
/tmp/ipykernel_41130/4173082794.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  (right_elements.append(node, ignore_index=True)
/tmp/ipykernel_41130/4173082794.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  (right_elements.append(node, ignore_index=True)
/tmp/ipykernel_41130/4173082794.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  else left_elements.append(node, ignore_index=True))
/tmp/ipykernel_41130/4173082794.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  else left_elements.append(node, ignore_index=True))
/tmp/ipykernel_41130/4173082794.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  else left_elements.append(node, ignore_index=True))
/tmp/ipykernel_41130/4173082794.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  else left_elements.append(node, ignore_index=True))

ZeroDivisionError: division by zero

In [143]:
list1 = [[-0.279860778784765, 0], [-0.9148845045917442, 0], [-0.3728285179012326, 1], [-0.21669857529664138, 0], [0.06137694471010302, 0]]
list1 = pd.DataFrame(list1)

In [151]:
list1

          0  1
0 -0.279861  0
1 -0.914885  0
2 -0.372829  1
3 -0.216699  0
4  0.061377  0

In [147]:
list1[1].value_counts()

0    4
1    1
Name: 1, dtype: int64

In [154]:
list1.append({0:1, 1:2}, ignore_index=True)

/tmp/ipykernel_41130/1099226923.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  list1.append({0:1, 1:2}, ignore_index=True)

          0  1
0 -0.279861  0
1 -0.914885  0
2 -0.372829  1
3 -0.216699  0
4  0.061377  0
5  1.000000  2